
services:
  mongo:
    image: mongo:8.2.2
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: quizzes
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: quizzes
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb:/data/db
  quizzes:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    env_file:
      - .env
    restart: unless-stopped
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    profiles:
      - tunnel
    depends_on:
      - quizzes
    command: "tunnel run --url http://quizzes:3000 --token ${TUNNEL_TOKEN}"
